<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/registroProveedorStyle.css">

</head>
<body>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>

<body>
<div id="form">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
      <div id="userform">
        <ul class="nav nav-tabs nav-justified" role="tablist">
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active in" id="signup">
            <h2 class="text-uppercase text-center"> Registro de Proveedor</h2>
            <form id="signup" action="/editpr/<%= proveedor._id %>" method="POST">
              <div class="row">
                <div class="col-xs-12 col-sm-6"> 
                  <div class="form-group">
                    <label> Nombre<span class="req">*</span> </label>
                    <input type="text" name="empresa" value="<%= proveedor.empresa %>" class="form-control" id="empresa" required data-validation-required-message="Por favor escriba su nombre" autocomplete="off">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label>RFC<span class="req">*</span> </label>
                    <input type="text" name="rfc" value="<%= proveedor.rfc %>" class="form-control" id="rfc" required data-validation-required-message="Por favor escriba su cédula" autocomplete="off">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              </div>
                      

              <div class="row">
                <div class="col-xs-12 col-sm-6"> 
                  <div class="form-group">
                    <label>  Registro<span class="req">*</span> </label>
                    <input type="text" name="registro" value="<%= proveedor.registro %>" class="form-control" id="registro" required data-validation-required-message="Por favor escriba su correo" autocomplete="off">
                    <p class="help-block text-danger"></p>
                  </div>   
                </div>

                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label>Localidad<span class="req">*</span> </label>
                    <input type="text" name="localidad" value="<%= proveedor.localidad %>" class="form-control" id="localidad" required data-validation-required-message="Por favor escriba su cédula" autocomplete="off">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-6"> 
                  <div class="form-group">
                    <label> Estado<span class="req">*</span> </label>
                    <input type="text" name="estado" value="<%= proveedor.estado %>" class="form-control" id="estado" required data-validation-required-message="Por favor escriba la cantidad de pacientes" autocomplete="off">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>

                
              </div>

              <div class="btn-group" role="group">
                <button type="submit" class="btn btn-larger">Agregar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container --> 
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
<!-- partial -->
  <script  src="./public/js/registroProveedor.js"></script>

</body>
</html>